1. How do you read the candy dataset into a pandas DataFrame?

In [3]:
import pandas as pd
df=pd.read_csv("/workspace/Pyspark_projects/Maven analysis/candy-data.csv")
df

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent
0,100 Grand,1,0,1,0,0,1,0,1,0,0.732,0.860,66.971725
1,3 Musketeers,1,0,0,0,1,0,0,1,0,0.604,0.511,67.602936
2,One dime,0,0,0,0,0,0,0,0,0,0.011,0.116,32.261086
3,One quarter,0,0,0,0,0,0,0,0,0,0.011,0.511,46.116505
4,Air Heads,0,1,0,0,0,0,0,0,0,0.906,0.511,52.341465
...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,Twizzlers,0,1,0,0,0,0,0,0,0,0.220,0.116,45.466282
81,Warheads,0,1,0,0,0,0,1,0,0,0.093,0.116,39.011898
82,Welch's Fruit Snacks,0,1,0,0,0,0,0,0,1,0.313,0.313,44.375519
83,Werther's Original Caramel,0,0,1,0,0,0,1,0,0,0.186,0.267,41.904308
84,Whoppers,1,0,0,0,0,1,0,0,1,0.872,0.848,49.524113

2. How do you display the first 5 rows of the DataFrame?

In [4]:
df.head(5)

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent
0,100 Grand,1,0,1,0,0,1,0,1,0,0.732,0.860,66.971725
1,3 Musketeers,1,0,0,0,1,0,0,1,0,0.604,0.511,67.602936
2,One dime,0,0,0,0,0,0,0,0,0,0.011,0.116,32.261086
3,One quarter,0,0,0,0,0,0,0,0,0,0.011,0.511,46.116505
4,Air Heads,0,1,0,0,0,0,0,0,0,0.906,0.511,52.341465

3. How do you get the column names of the DataFrame?

In [5]:
df.columns

Index(['competitorname', 'chocolate', 'fruity', 'caramel', 'peanutyalmondy',
       'nougat', 'crispedricewafer', 'hard', 'bar', 'pluribus', 'sugarpercent',
       'pricepercent', 'winpercent'],
      dtype='object')

4.How do you filter the DataFrame to show only candies that contain chocolate?

In [6]:
filter_cho=df[df["chocolate"]==1]
filter_cho

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent
0,100 Grand,1,0,1,0,0,1,0,1,0,0.732,0.860,66.971725
1,3 Musketeers,1,0,0,0,1,0,0,1,0,0.604,0.511,67.602936
5,Almond Joy,1,0,0,1,0,0,0,1,0,0.465,0.767,50.347546
6,Baby Ruth,1,0,1,1,1,0,0,1,0,0.604,0.767,56.914547
10,Charleston Chew,1,0,0,0,1,0,0,1,0,0.604,0.511,38.975037
22,Hershey's Kisses,1,0,0,0,0,0,0,0,1,0.127,0.093,55.375454
23,Hershey's Krackel,1,0,0,0,0,1,0,1,0,0.430,0.918,62.284481
24,Hershey's Milk Chocolate,1,0,0,0,0,0,0,1,0,0.430,0.918,56.490501
25,Hershey's Special Dark,1,0,0,0,0,0,0,1,0,0.430,0.918,59.236122
27,Junior Mints,1,0,0,0,0,0,0,0,1,0.197,0.511,57.219250
28,Kit Kat,1,0,0,0,0,1,0,1,0,0.313,0.511,76.768600
32,Peanut butter M&M's,1,0,0,1,0,0,0,0,1,0.825,0.651,71.465050
33,M&M's,1,0,0,0,0,0,0,0,1,0.825,0.651,66.574585
35,Milk Duds,1,0,1,0,0,0,0,0,1,0.302,0.511,55.064072
36,Milky Way,1,0,1,0,1,0,0,1,0,0.604,0.651,73.099556
37,Milky Way Midnight,1,0,1,0,1,0,0,1,0,0.732,0.441,60.800701
38,Milky Way Simply Caramel,1,0,1,0,0,0,0,1,0,0.965,0.860,64.353340
39,Mounds,1,0,0,0,0,0,0,1,0,0.313,0.860,47.829754
40,Mr Good Bar,1,0,0,1,0,0,0,1,0,0.313,0.918,54.526451
42,Nestle Butterfinger,1,0,0,1,0,0,0,1,0,0.604,0.767,70.735641
43,Nestle Crunch,1,0,0,0,0,1,0,1,0,0.313,0.767,66.470680
47,Peanut M&Ms,1,0,0,1,0,0,0,0,1,0.593,0.651,69.483788
51,Reese's Miniatures,1,0,0,1,0,0,0,0,0,0.034,0.279,81.866257
52,Reese's Peanut Butter cup,1,0,0,1,0,0,0,0,0,0.720,0.651,84.180290
53,Reese's pieces,1,0,0,1,0,0,0,0,1,0.406,0.651,73.434990
54,Reese's stuffed with pieces,1,0,0,1,0,0,0,0,0,0.988,0.651,72.887901
56,Rolo,1,0,1,0,0,0,0,0,1,0.860,0.860,65.716286
59,Sixlets,1,0,0,0,0,0,0,0,1,0.220,0.081,34.722000
62,Nestle Smarties,1,0,0,0,0,0,0,0,1,0.267,0.976,37.887188
64,Snickers,1,0,1,1,1,0,0,1,0,0.546,0.651,76.673782
65,Snickers Crisper,1,0,1,1,0,1,0,1,0,0.604,0.651,59.529251
74,Tootsie Pop,1,1,0,0,0,0,1,0,0,0.604,0.325,48.982651
75,Tootsie Roll Juniors,1,0,0,0,0,0,0,0,0,0.313,0.511,43.068897
76,Tootsie Roll Midgies,1,0,0,0,0,0,0,0,1,0.174,0.011,45.736748
77,Tootsie Roll Snack Bars,1,0,0,0,0,0,0,1,0,0.465,0.325,49.653503
79,Twix,1,0,1,0,0,1,0,1,0,0.546,0.906,81.642914
84,Whoppers,1,0,0,0,0,1,0,0,1,0.872,0.848,49.524113

5.How do you add a new column to the DataFrame indicating whether the candy is both fruity and contains caramel?

In [7]:
df["fruit_carmel"]=((df["fruity"]==1) & (df["caramel"]==1)).astype("int")
df[df["fruit_carmel"]==1]

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent,fruit_carmel
9,Caramel Apple Pops,0,1,1,0,0,0,0,0,0,0.604,0.325,34.517681,1

6.How do you group the DataFrame by the â€˜chocolateâ€™ column and calculate the mean win percentage for each group?

In [8]:
f=df.groupby("chocolate")["winpercent"].mean()
f

chocolate
0    42.142257
1    60.921529
Name: winpercent, dtype: float64

In [9]:
df.isna().sum()

competitorname      0
chocolate           0
fruity              0
caramel             0
peanutyalmondy      0
nougat              0
crispedricewafer    0
hard                0
bar                 0
pluribus            0
sugarpercent        0
pricepercent        0
winpercent          0
fruit_carmel        0
dtype: int64


7.How do you sort the DataFrame by â€˜winpercentâ€™ and â€˜pricepercentâ€™ in descending order?

In [10]:
df.sort_values(["winpercent","pricepercent"],ascending=False).head(5)

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent,fruit_carmel
52,Reese's Peanut Butter cup,1,0,0,1,0,0,0,0,0,0.720,0.651,84.180290,0
51,Reese's Miniatures,1,0,0,1,0,0,0,0,0,0.034,0.279,81.866257,0
79,Twix,1,0,1,0,0,1,0,1,0,0.546,0.906,81.642914,0
28,Kit Kat,1,0,0,0,0,1,0,1,0,0.313,0.511,76.768600,0
64,Snickers,1,0,1,1,1,0,0,1,0,0.546,0.651,76.673782,0

8.How do you apply a custom function to create a new column that categorizes candies into â€˜High Sugarâ€™ or â€˜Low Sugarâ€™ based on the â€˜sugarpercentâ€™?

In [11]:
def catgeory(sugar):
    if sugar>0.5:
        return "High_sugar"
    else :
        return "Low_sugar"
df["value"]= df["sugarpercent"].apply(catgeory)
df[["competitorname","value","sugarpercent"]].head(10)

       competitorname       value  sugarpercent
0           100 Grand  High_sugar         0.732
1        3 Musketeers  High_sugar         0.604
2            One dime   Low_sugar         0.011
3         One quarter   Low_sugar         0.011
4           Air Heads  High_sugar         0.906
5          Almond Joy   Low_sugar         0.465
6           Baby Ruth  High_sugar         0.604
7  Boston Baked Beans   Low_sugar         0.313
8          Candy Corn  High_sugar         0.906
9  Caramel Apple Pops  High_sugar         0.604

9.How do you create a new DataFrame that contains only the rows where â€˜winpercentâ€™ is above 50%?

In [12]:
win_50 = df[df["winpercent"]>=50]
win_50.head(10)

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent,fruit_carmel,value
0,100 Grand,1,0,1,0,0,1,0,1,0,0.732,0.860,66.971725,0,High_sugar
1,3 Musketeers,1,0,0,0,1,0,0,1,0,0.604,0.511,67.602936,0,High_sugar
4,Air Heads,0,1,0,0,0,0,0,0,0,0.906,0.511,52.341465,0,High_sugar
5,Almond Joy,1,0,0,1,0,0,0,1,0,0.465,0.767,50.347546,0,Low_sugar
6,Baby Ruth,1,0,1,1,1,0,0,1,0,0.604,0.767,56.914547,0,High_sugar
18,Haribo Gold Bears,0,1,0,0,0,0,0,0,1,0.465,0.465,57.119740,0,Low_sugar
20,Haribo Sour Bears,0,1,0,0,0,0,0,0,1,0.465,0.465,51.412430,0,Low_sugar
22,Hershey's Kisses,1,0,0,0,0,0,0,0,1,0.127,0.093,55.375454,0,Low_sugar
23,Hershey's Krackel,1,0,0,0,0,1,0,1,0,0.430,0.918,62.284481,0,Low_sugar
24,Hershey's Milk Chocolate,1,0,0,0,0,0,0,1,0,0.430,0.918,56.490501,0,Low_sugar

10.How do you use the map function to replace values in the â€˜chocolateâ€™ column with â€˜Yesâ€™ or â€˜Noâ€™?

In [13]:
mappings= {1:"Yes",0:"No"}
newcho=df
newcho["necholcate"]=df["chocolate"].map(mappings)
newcho.head(10)

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent,fruit_carmel,value,necholcate
0,100 Grand,1,0,1,0,0,1,0,1,0,0.732,0.860,66.971725,0,High_sugar,Yes
1,3 Musketeers,1,0,0,0,1,0,0,1,0,0.604,0.511,67.602936,0,High_sugar,Yes
2,One dime,0,0,0,0,0,0,0,0,0,0.011,0.116,32.261086,0,Low_sugar,No
3,One quarter,0,0,0,0,0,0,0,0,0,0.011,0.511,46.116505,0,Low_sugar,No
4,Air Heads,0,1,0,0,0,0,0,0,0,0.906,0.511,52.341465,0,High_sugar,No
5,Almond Joy,1,0,0,1,0,0,0,1,0,0.465,0.767,50.347546,0,Low_sugar,Yes
6,Baby Ruth,1,0,1,1,1,0,0,1,0,0.604,0.767,56.914547,0,High_sugar,Yes
7,Boston Baked Beans,0,0,0,1,0,0,0,0,1,0.313,0.511,23.417824,0,Low_sugar,No
8,Candy Corn,0,0,0,0,0,0,0,0,1,0.906,0.325,38.010963,0,High_sugar,No
9,Caramel Apple Pops,0,1,1,0,0,0,0,0,0,0.604,0.325,34.517681,1,High_sugar,No

In [14]:
mappings= {1:"Yes",0:"No"}
df1=df
df1["1chocolate"]=df["chocolate"].replace({1:"Yes",0:"NO"})
df1

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent,fruit_carmel,value,necholcate,1chocolate
0,100 Grand,1,0,1,0,0,1,0,1,0,0.732,0.860,66.971725,0,High_sugar,Yes,Yes
1,3 Musketeers,1,0,0,0,1,0,0,1,0,0.604,0.511,67.602936,0,High_sugar,Yes,Yes
2,One dime,0,0,0,0,0,0,0,0,0,0.011,0.116,32.261086,0,Low_sugar,No,NO
3,One quarter,0,0,0,0,0,0,0,0,0,0.011,0.511,46.116505,0,Low_sugar,No,NO
4,Air Heads,0,1,0,0,0,0,0,0,0,0.906,0.511,52.341465,0,High_sugar,No,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,Twizzlers,0,1,0,0,0,0,0,0,0,0.220,0.116,45.466282,0,Low_sugar,No,NO
81,Warheads,0,1,0,0,0,0,1,0,0,0.093,0.116,39.011898,0,Low_sugar,No,NO
82,Welch's Fruit Snacks,0,1,0,0,0,0,0,0,1,0.313,0.313,44.375519,0,Low_sugar,No,NO
83,Werther's Original Caramel,0,0,1,0,0,0,1,0,0,0.186,0.267,41.904308,0,Low_sugar,No,NO
84,Whoppers,1,0,0,0,0,1,0,0,1,0.872,0.848,49.524113,0,High_sugar,Yes,Yes

11.How do you use the query function to filter the DataFrame for candies that are either fruity or contain caramel, but not both?

In [15]:
#df["carme_cho"]=(df["caramel"]==1)&(df["chocolate"]=="Yes") 
df["frt_car"]=(df["fruity"]==0)|(df["caramel"]==1)
df[df["frt_car"]==True].head(5)

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent,fruit_carmel,value,necholcate,1chocolate,frt_car
0,100 Grand,1,0,1,0,0,1,0,1,0,0.732,0.860,66.971725,0,High_sugar,Yes,Yes,True
1,3 Musketeers,1,0,0,0,1,0,0,1,0,0.604,0.511,67.602936,0,High_sugar,Yes,Yes,True
2,One dime,0,0,0,0,0,0,0,0,0,0.011,0.116,32.261086,0,Low_sugar,No,NO,True
3,One quarter,0,0,0,0,0,0,0,0,0,0.011,0.511,46.116505,0,Low_sugar,No,NO,True
5,Almond Joy,1,0,0,1,0,0,0,1,0,0.465,0.767,50.347546,0,Low_sugar,Yes,Yes,True

12.How do you use the rank function to rank candies based on their â€˜winpercentâ€™?

In [16]:
df["rank"]=df["winpercent"].rank()
df.sort_values("rank",ascending=False)

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent,fruit_carmel,value,necholcate,1chocolate,frt_car,rank
52,Reese's Peanut Butter cup,1,0,0,1,0,0,0,0,0,0.720,0.651,84.180290,0,High_sugar,Yes,Yes,True,85.0
51,Reese's Miniatures,1,0,0,1,0,0,0,0,0,0.034,0.279,81.866257,0,Low_sugar,Yes,Yes,True,84.0
79,Twix,1,0,1,0,0,1,0,1,0,0.546,0.906,81.642914,0,High_sugar,Yes,Yes,True,83.0
28,Kit Kat,1,0,0,0,0,1,0,1,0,0.313,0.511,76.768600,0,Low_sugar,Yes,Yes,True,82.0
64,Snickers,1,0,1,1,1,0,0,1,0,0.546,0.651,76.673782,0,High_sugar,Yes,Yes,True,81.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26,Jawbusters,0,1,0,0,0,0,1,0,1,0.093,0.511,28.127439,0,Low_sugar,No,NO,False,5.0
72,Super Bubble,0,1,0,0,0,0,0,0,0,0.162,0.116,27.303865,0,Low_sugar,No,NO,False,4.0
12,Chiclets,0,1,0,0,0,0,0,0,1,0.046,0.325,24.524988,0,Low_sugar,No,NO,False,3.0
7,Boston Baked Beans,0,0,0,1,0,0,0,0,1,0.313,0.511,23.417824,0,Low_sugar,No,NO,True,2.0
44,Nik L Nip,0,1,0,0,0,0,0,0,1,0.197,0.976,22.445341,0,Low_sugar,No,NO,False,1.0

13. How do you use the to_csv function to write a DataFrame to a CSV file?
df

In [19]:
df.to_csv("ouput1.csv",header=True,index=False,mode="w")